venv/
.env
HeadlineNewsGeneratorLangSmith.zip
Think_like_an_author/app.py
Think_like_an_author/app1.py
Think_like_an_author/youtube_search_Python.ipynb
Think_like_an_author/Sample_Test.ipynb
Think_like_an_author/mimicauthor.json
Think_like_an_author/.streamlit/secrets.toml
Think_like_an_author/.streamlit
Think_like_an_author/Think_like_An_Author_End_to_End_withChat.ipynb
Think_like_an_author/Think_like_An_Author_End_to_End.ipynb
Think_like_an_author/workflow_withsource.py
Think_like_an_author/mimicauthor.json
Think_like_an_author/author_mind.py
Think_like_an_author/Mimic_Author_steps.ipynb
Think_like_an_author/Sample_Test.ipynb
Think_like_an_author/workflow_withsource.py
Think_like_an_author/youtube_search_Python.ipynb
Think_like_an_author/streamlit_app_withsource.py
Think_like_an_author/youtube_index
Think_like_an_author/Mimic_Author.ipynb
Code-Reviewer.zip
