venv/
.env
HeadlineNewsGeneratorLangSmith.zip
Think_like_an_author\app.py
Think_like_an_author\youtube_search_Python.ipynb
Think_like_an_author\Sample_Test.ipynb
Think_like_an_author\mimicauthor.json
Think_like_an_author/.streamlit/secrets.toml
Think_like_an_author/mimicauthor.json